<%= turbo_stream_from "imports" %>
<h2 class="mb-4">Files imported</h2>

<table class="table table-striped table-hover table-bordered align-middle">
  <thead class="table-info">
  <tr>
    <th>ID</th>
    <th>Merchant ID</th>
    <th>File</th>
    <th>Upload Errors</th>
    <th>Total Records</th>
    <th>Processed Records</th>
    <th>Not Processed Records</th>
    <th>Status</th>
    <th>Imported At</th>
  </tr>
  </thead>
  <tbody id="imports">
    <%= render @imports %>
  </tbody>
</table>

<%= render "shared/pagination/load_more" %>