<h2 class="mb-4">Merchants</h2>

<table class="table table-striped table-hover table-bordered align-middle">
  <thead class="table-info">
  <tr>
    <th class="w-10">ID</th>
    <th class="w-40">Merchant Name</th>
    <th class="w-25">Created At</th>
  </tr>
  </thead>
  <tbody>
  <% @merchants.each do |merchant| %>
    <tr>
      <td><%= merchant.id %></td>
      <td><%= merchant.slug %></td>
      <td><%= merchant.updated_at %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<!-- Pagination -->
<div class="mt-4 d-flex">
  <%= paginate @merchants,
    theme: 'bootstrap-5',
    pagination_class: "pagination-sm flex-wrap justify-content-center",
    nav_class: "d-inline-block"
  %>
</div>