<tr>
  <td><%= number_or_dash(import_detail.row_number, import_detail.row_number?) %></td>
  <td>
    <%= import_detail.error_messages.join(", ") %>
  </td>
  <td>
    <% if import_detail.payload&.values %>
      <div class="bg-light rounded p-2">
        <%= import_detail.payload.values.map { |v| content_tag(:code, v) }.join(', ').html_safe %>
      </div>
    <% else %>
      -
    <% end %>
  </td>
</tr>