<h2 class="mb-4">File import error details</h2>
<%= turbo_stream_from [@import, :import_details] %>

<div class="table-responsive">
  <table class="table table-hover table-bordered align-middle">
    <thead class="table-info">
    <tr>
      <th>Row</th>
      <th>Error Messages</th>
      <th>Payload</th>
    </tr>
    </thead>
    <tbody id="import_details">
      <%= render @import_details %>
    </tbody>
  </table>
</div>